<div class="type-content">
  <h1 ng-if="vm.type === 'genres'">Genres</h1>
  <h1 ng-if="vm.type === 'movies'">Movies</h1>
  <div class="table">
    <div class="headers">
      <span ng-click="vm.changeOrder()">Name</span><i class="fa" ng-class="{'fa-chevron-down': !vm.isOrdered, 'fa-chevron-up': vm.isOrdered}"></i>
      <span ng-if="vm.type === 'genres'">Num Movies</span>
      <span ng-if="vm.type === 'movies'">Genre</span>
    </div>
    <div ng-repeat="item in vm.items | filter: vm.filterValue | orderBy:item.name:vm.reverse">
      <item item="item" type="vm.type"></item>
    </div>
  </div>
  <div class="filters">
    <h3>Filters</h3>
    <input ng-model="vm.filterValue"></input>
    <h3>Actions</h3>
    <button ng-if="vm.type === 'genres'" class="btn btn-primary" ng-click="vm.add()">Add Genre</button>
    <button ng-if="vm.type === 'movies'" class="btn btn-primary" ng-click="vm.add()">Add Movie</button>
  </div>
</div>